.headSpan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 5%;
  width: 70%;
}

.headButtonContainer {
  display: flex;
  margin: 2%;
  flex-direction: row;
}

.headButton {
  display: flex;
  border: 1px solid;
  border-radius: 50px;
  width: 20%;
  height: 5vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-weight: bold;
}

.headTitle {
  font-size: 300%;
  font-weight: bold;
}

.headSubtitle {
  font-size: 150%;
  font-weight: bold;
}